.bao-hanh {
    color:#15393f;
  .bao-hanh1 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    color:#15393f;
  }
  .bao-hanh2 {
    font-size: 15px;
    margin-top: 10px;
  }
  .bao-hanh3{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
  }
}
.nut-nhan {
    color:#15393f;
    display: flex;
    justify-content:flex-end;
  }
  
  .black-button {
    background-color: #15393f;
    color: white;
    border-radius: 5px;
    padding: 5px 20px; 
    margin-right: 10px;
  }
  
  .black-button:hover {
    background-color: #15393f;
  }
  

  .black-button span {
    display: inline-block;
    vertical-align: middle;
  }
  
