.cart {
  .cart_button {
    padding: 30px 0px;
    &_comback {
      background-color: black;
      color: white;
      font-size: 15px;
    }
    button {
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #333 !important;
      }
    }
  }
  .cart_product_list {
    padding-top: 25px;
    width: 100%;
  }
  .cart_button_comback {
    width: 220px;
    height: 40px;
  }

  .cart_form {
    // 3 cái thông tin lấy từ người dùng
    &_title {
      display: flex;
      gap: 15px;
      align-items: center;
      p,
      h2 {
        font-weight: bold;
      }

      button {
        border: 2px solid black;
      }
    }
  }

  .confirm_button {
    // bên thông tin khách hàng
    background-color: black;
    color: white;
    padding: 1px 65px;
    font-size: 30px;

    display: block;
    margin: 5px auto;
    text-align: center;

    transition: background-color 0.3s ease;
    &:hover {
      background-color: #333 !important;
      color: rgb(121, 3, 3);
    }
  }

  .cart_vat_statement {
    // dòng vat
    font-size: 14px;
    font-style: italic;
    // font-weight: bold;
    margin-top: 10px;
    color: black;
    text-align: right;
    width: 100%;
  }

  .cart_product_image {
    width: 150px;
    height: 150px;
    position: relative;
  }
  .cart_product_imgdm {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -20px;
    left: 0;
  }
  // ------------------------------------
  .staff_order_frame {
    width: 680px;
    position: relative;
    margin: 10px 0px;
    padding: 15px;
    border: 1px solid rgb(128, 128, 128, 0.1);
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128, 0.1);
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    .delete {
      position: absolute;
      z-index: 4;
      top: 10px;
      right: 20px;
      transform: 0.5s;
      &:hover {
        color: red;
      }
    }
    .staff_order_left {
      position: relative;
      .staff_order_kimg_kid {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -10px;
        left: 0;
      }
      .staff_order_kimg_main {
        width: 130px;
        margin-left: 10px;
      }
      .button_custom {
        width: 100px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid gray;
        transform: 0.5s;
        &:hover {
          color: black;
          border-bottom: 1px solid black;
        }
      }
    }
    .price {
      text-align: right;
      font-size: 20px;
      font-weight: bold;
      color: #e4bd7b;
    }
    .staff_order_right {
      .icon_order {
        padding-right: 10px;
      }
      .info_product {
        display: flex;
        padding-bottom: 20px;
        color: #15393f;
        .info_sub {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: large;
          font-weight: bold;
        }
      }
      .info_diamond {
        display: flex;
        color: #15393f;
        .info_sub {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: large;
          font-weight: bold;
          .info_sub_sub{
            color: red;
          }
        }
      }
    }
  }

  /* Đảm bảo ô input khi hiển thị lỗi được căn đều */
  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-select-selector {
    margin-right: 0 !important; /* Không để ô input tràn ra bên phải */
  }
  .ant-form-item-email {
    margin-top: 8px;
  }

  .ant-form-item-explain {
    margin-top: 4px; // Adjust the margin as needed
  }
  // index.scss

  .cart_summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    padding: 10px 25px;
    border: 1px solid rgb(128, 128, 128, 0.1);
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128, 0.1);
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
  }

  .cart_summary_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .cart_summary_label {
    font-weight: bold;
    width: 200px;
    font-size: 18px;
    color: #333; // Màu chữ cho nhãn tạm tính và chi phí vận chuyển
  }

  .cart_summary_value {
    font-size: 18px;
    color: #333; // Màu chữ cho giá trị tạm tính
  }

  .cart_summary_value_bold {
    font-weight: bold;
    font-size: 20px;
    color: #333; // Màu chữ cho giá trị đậm (ví dụ: Miễn phí)
  }

  .cart_total {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 79%;
    background-color: #fff;
    padding: 20px; // Tăng padding để làm phần tổng tiền rộng hơn
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
    }
  }
  .cart_total {
    &.canselfixed {
      position: unset !important;
      transform: translateX(
        -40%
      ); /* Dịch chuyển về trung tâm theo chiều ngang */
      width: 1100px;
      background-color: #fff;
      padding-left: 20px; // Tăng padding để làm phần tổng tiền rộng hơn
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
      z-index: 10;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .cart_total_price {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: red;
    font-weight: bold;
  }

  .cart_total_price_label {
    color: black;
    font-size: 20px;
  }

  .cart_vat_statement {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    color: black;
    text-align: right;
    width: 100%;
  }
  .cart_points {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
}
