.create-account {
  .title-create-account {
    text-align: center;
    margin-bottom: 20px;
  }

  .ant-row {
    width: 100%;
  }

  .ant-col-12 {
    padding: 0px;
  }

  .ant-form-item {
    margin-bottom: 16px;
  }

  .input {
    width: 100%;
    height: 34px;
  }
  .upload_img {
    display: flex;
    justify-content: center;
    .ant-upload.ant-upload-select {
      width: 150px !important;
      height: 150px !important;
      span.ant-upload {
        font-size: 30px;
      }
    }
    .ant-upload-list-item.ant-upload-list-item-error {
      width: 150px !important;
      height: 150px !important;
    }
  }
  .button-xac-nhan {
    position: absolute;
    bottom: -20px;
    right: -50px;
    display: flex;
    justify-content: center;
    align-items: center; // center text vertically
    text-align: right;
    font-size: 20px;
    background: black;
    color: white;
    font-weight: bold;
    padding: 7px;
    border-radius: 8px;
  }
}
