.tong-quan {
  .so-quan,
  .so-quan1 {
    font-size: 13px;
    font-style: light;
    font-weight: 450;
    margin-bottom: 20px;
    color: grey;
  }
  
}
.chinh-sach {
    
    .chinh-sach1,.chinh-sach2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .chinh-sach1{
        font-size: 22px;
        color: black;
    }
  }
.muc-dich{
    .muc-dich1,.muc-dich2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .muc-dich1{
        font-size: 22px;
        color: black;
    }
}
.pham-vi{
    .pham-vi1,.pham-vi2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .pham-vi1{
        font-size: 22px;
        color: black;
    }
}
.thoi-gian-luu{
    .thoi-gian-luu1,.thoi-gian-luu2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .thoi-gian-luu1{
        font-size: 22px;
        color: black;
    }
}
.nguoi-or-tochuc{
    .nguoi-or-tochuc1, .nguoi-or-tochuc2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .nguoi-or-tochuc1{
        font-size: 22px;
        color: black;
    }
}
.dia-chi{
    .dia-chi1,.dia-chi2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .dia-chi1{
        font-size: 22px;
        color: black;
    }
}
.phuong-tien{
    .phuong-tien1,.phuong-tien2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .phuong-tien1{
        font-size: 22px;
        color: black;
    }
}
.cam-ket{
    .cam-ket1,.cam-ket2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .cam-ket1{
        font-size: 22px;
        color: black;
    }
}
.co-che{
    .co-che1,.co-che2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .co-che1{
        font-size: 22px;
        color: black;
    }
}

.tra-loi{
    .tra-loi1,.tra-loi2{
        font-size: 13px;
        font-style: light;
        font-weight: 450;
        margin-bottom: 20px;
        color: grey;
    }
    .tra-loi1{
        font-size: 22px;
        color: black;
    }
    }