.tong-quan {
  .so-quan,
  .so-quan1 {
    font-weight: 400;
    margin-top: 20px;
  }
}
.chinh-sach {
  .chinh-sach1,
  .chinh-sach2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .chinh-sach1 {
    font-weight: 500;
    text-align: left;
  }
}
.muc-dich {
  .muc-dich1,
  .muc-dich2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .muc-dich1 {
    font-weight: 500;
    text-align: left;
  }
}
.pham-vi {
  .pham-vi1,
  .pham-vi2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .pham-vi1 {
    font-weight: 500;
    text-align: left;
  }
}
.thoi-gian-luu {
  .thoi-gian-luu1,
  .thoi-gian-luu2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .thoi-gian-luu1 {
    font-weight: 500;
    text-align: left;
  }
}
.nguoi-or-tochuc {
  .nguoi-or-tochuc1,
  .nguoi-or-tochuc2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .nguoi-or-tochuc1 {
    font-weight: 500;
    text-align: left;
  }
}
.dia-chi {
  .dia-chi1,
  .dia-chi2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .dia-chi1 {
    font-weight: 500;
    text-align: left;
  }
}
.phuong-tien {
  .phuong-tien1,
  .phuong-tien2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .phuong-tien1 {
    font-weight: 500;
    text-align: left;
  }
}
.cam-ket {
  .cam-ket1,
  .cam-ket2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .cam-ket1 {
    font-weight: 500;
    text-align: left;
  }
}
.co-che {
  .co-che1,
  .co-che2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .co-che1 {
    font-weight: 500;
    text-align: left;
  }
}

.tra-loi {
  .tra-loi1,
  .tra-loi2 {
    font-weight: 400;
    margin-top: 20px;
    font-style: italic;
  }
  .tra-loi1 {
    font-weight: 500;
    text-align: left;
  }
}
