.upload_image {
  display: flex;
  justify-content: center;
  img {
    object-fit: cover;
  }
  .ant-upload.ant-upload-select {
    width: 150px !important;
    height: 150px !important;
    span.ant-upload {
      font-size: 30px;
    }
  }
  .ant-upload-list-item.ant-upload-list-item-error {
    width: 150px !important;
    height: 150px !important;
  }
  .ant-upload-list-item-container {
    width: 150px !important;
    height: 150px !important;
  }
}
