.new_order_userID {
  background-color: #e4bd7b;
  font-weight: bold;
  width: 7%;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.new_order_frame {
  position: relative;
  margin: 5px 0px;
  padding: 15px;
  border: 1px solid rgb(128, 128, 128, 0.1);
  box-shadow: 1px 1px 1px 1px rgb(128, 128, 128, 0.1);
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.1);
  display: flex;
  border: 2px solid black;
  align-items: center;

  .new_order_left {
    position: relative;

    .new_order_odID {
      position: absolute;
      top: -10px;
      left: 10px;
      font-weight: bold;
      background-color: white;
      padding: 5px;

      border: 2px solid black;
    }
    .new_order_kimg_kid {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 20px;
      left: -5px;
    }

    .new_order_kimg_main {
      width: 130px;

      margin-left: 75px;
    }

    .new_order_button_custom {
      width: 100px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid gray;
      transform: 0.5s;

      &:hover {
        color: black;
        border-bottom: 1px solid black;
      }
    }
  }

  .new_order_total_price{
    text-align: right;
    font-size: 20px;
    color: #e4bd7b;
    top:-100px;
    padding: 5px;
  }

  .new_order_right {
    .new_order_icon_order {
      padding-right: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    }

    .new_order_info_product {
      display: flex;
      padding-bottom: 20px;
      color: #15393f;

      .new_order_info_sub {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: large;
        font-weight: bold;
      }
    }

    .new_order_info_diamond {
      display: flex;
      color: #15393f;

      .new_order_info_sub {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: large;
        font-weight: bold;
      }
    }
  }
}

.link_new_order {
  margin-left: 98px;
  margin-top: 10px;
}

.container {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button_new_order {
  position: absolute;
  right: 0;
  top:-15px;
  margin-top: -10px;
  background-color: #15393f !important;
  border-color: black !important;
  color: white !important;
}

.UserID-code {
  background-color: #e4bd7b;
  border: 2px solid black; 
  color: black;
  font-weight: bold;
  width: 12%;
}

