.detail-product-staff {
  .table-container {
    display: flex;
    justify-content: center;

    .custom-table {
      width: 80%;
      border-collapse: collapse;
      border: 1px solid #efefef;

      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #efefef;
        font-family: "Roboto", sans-serif;
        padding-left: 20px;
        color: #15393f;
        height: 45px;
      }

      th {
        border: none;
        border-right: 1px solid #efefef;
        color: #222;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        width: 150px;
        border-bottom: 1px solid #efefef;
      }

      tr:nth-child(2n) td {
        background-color: #f2f2f2; // Màu xám nhạt cho hàng chẵn
      }

      tr:nth-child(2n + 1) td {
        background-color: #fff; // Màu trắng cho hàng lẻ
      }
      tr:nth-child(2n) th {
        background-color: #f2f2f2; // Màu xám nhạt cho hàng chẵn
      }

      tr:nth-child(2n + 1) th {
        background-color: #fff; // Màu trắng cho hàng lẻ
      }

      td {
        color: #15393f;
      }
    }
  }
}
