html {
  scroll-behavior: smooth;
}

#container{
    overflow-y: scroll;
}
.container-main {
  padding: 20px 150px;
  min-height: 800px;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 20px 50px;
  }
}
