.tong-trang-detail {
  .upload_image {
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
    }
    .ant-upload.ant-upload-select {
      width: 150px !important;
      height: 150px !important;
      span.ant-upload {
        font-size: 30px;
      }
    }
    .ant-upload-list-item.ant-upload-list-item-error {
      width: 150px !important;
      height: 150px !important;
    }
    .ant-upload-list-item-container {
      width: 150px !important;
      height: 150px !important;
    }
  }
  .baner-detail {
    position: relative;
    .user-name-on-banner {
      position: absolute;
      margin-left: 40px;
      top: 140px;
      font-style: italic;
    }
  }
  .user-phan-chia {
    .css-dev-only-do-not-override-zg0ahe.ant-tabs
      .ant-tabs-tab.ant-tabs-tab-active
      .ant-tabs-tab-btn {
      color: black;
      text-shadow: 0 0 0.25px currentcolor;
    }

    .css-dev-only-do-not-override-zg0ahe.ant-tabs .ant-tabs-ink-bar {
      position: absolute;
      background: black;
      pointer-events: none;
    }
  }

  .thong-tin-chi-tiet-tai-khoan-tong {
    margin-top: 30px;
  }
  .dropdown {
    margin-top: 20px;
  }
  .lich-su-mua-hang {
    margin-top: 30px;
  }
}
