.bang-thu{
    .bang-thu1,.bang-thu2{
        color: grey;
        font-size: 17px;
        padding: 8px;
        font-weight: 400;
    }
    .bang-thu1{
        color: #D0AC6F;
        font-size: 20px;
        font-weight: bold; 
    }
}
.dieu-kien{
    .dieu-kien1, .dieu-kien2{
        color: grey;
        font-size: 17px;
        padding: 8px;
        font-weight: 400;
    }
    .dieu-kien1{
        color: #D0AC6F;
        font-size: 20px;
        font-weight: bold; 
    }
    
    
}
.thoi-gian{
    .thoi-gian1,.thoi-gian2, .thoi-gian3{
        color: grey;
        font-size: 17px;
        padding: 8px;
        font-weight: 400;
    }
    .thoi-gian1{
        color: #D0AC6F;
        font-size: 20px;
        font-weight: bold; 
    }
    .thoi-gian2{
        color: black;
        font-size: 20px;
    }
}
.chinh-sachbh{
    .chinh-sachbh1,.chinh-sachbh2{
        color: grey;
        font-size: 17px;
        padding: 8px;
        font-weight: 400;
    }
    .chinh-sachbh1{
        color: #D0AC6F;
        font-size: 20px;
        font-weight: bold; 
    }
}