.bang-thu{
    .bang-thu1,.bang-thu2{
        font-weight: 400;
        margin-top: 20px;
        
    }
    .bang-thu1{
        font-weight: 500;
        text-align: left;
    }
}
.dieu-kien{
    .dieu-kien1, .dieu-kien2{
        font-weight: 400;
        margin-top: 20px;
    }
    .dieu-kien1{
        font-weight: 500; 
        text-align: left;
    }
    
    
}
.thoi-gian{
    .thoi-gian1,.thoi-gian2, .thoi-gian3{
        font-weight: 400;
        margin-top: 20px;
    }
    .thoi-gian1{
        font-weight: 500;  
        text-align: left;
    }
    .thoi-gian2{
        font-weight: 500; 
    }
}
.chinh-sachbh{
    .chinh-sachbh1,.chinh-sachbh2{
        font-weight: 400;
        margin-top: 20px;
    }
    .chinh-sachbh1{
        font-weight: 500; 
        text-align: left;
    }
}