 .css-dev-only-do-not-override-j9bb5n .ant-badge .ant-badge-count {
    display: inline-flex;
    justify-content: center;
    z-index: auto;
    min-width: 16px;
    height: 16px;
    color: #ffffff;
    font-weight: normal;
    font-size: 9px;
    line-height: 16px;
    white-space: nowrap;
    text-align: center;
    background: #ff4d4f;  
    border-radius: 10px;
    box-shadow: 0 0 0 1px #ffffff;
    transition: background 0.2s;
  }
