.image-diamond {
  padding: flex;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 0px 10px;
  .button1 {
    background-color: red;
    margin-right: 10px;
  }
}
.custom-placeholder::placeholder {
  color: black;
}
