.container-fluid {
  position: relative;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 0px 100px;
    font-size: 20px;

    &_social_left {
      display: flex;
      gap: 20px;
      font-size: 25px;
      color: #828282;
    }
    &_social_right {
      display: flex;
      gap: 25px;
      font-size: 25px;
      color: #828282;
      button {
        color: white;
        background-color: black;
        transition: background-color 0.3s ease;
        outline: none;
        &:hover {
          border: 1px solid black !important;
          color: black !important;
          background-color: white !important; // Màu vàng khi hover
          cursor: pointer; // Thêm hiệu ứng con trỏ chuột khi hover
        }
      }
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #cdc6c6;
    box-shadow: 10px 10px 10px gray;
    padding: 10px 100px;
    vertical-align: middle;

    ul {
      display: flex;
      list-style: none;
      gap: 60px;

      li {
        color: black;
        font-size: 20px;
        padding: 7px 2px;

        a {
          text-decoration: none;
          color: black;
          transition: background-color 0.3s ease;
          font-weight: 300;
          &:hover {
            cursor: pointer; // Thêm hiệu ứng con trỏ chuột khi hover
          }
        }
      }
    }
  }

  // in index.scss
  .custom-modal-style {
    .ant-modal-content {
      height: 600px;
      border: 0.5px solid gray;
      box-shadow: 10px 10px 10px black;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }
}
