.container-fluid {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10; //đưa lên trên
  background-color: white;
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 0px 100px;
    font-size: 20px;
    @media (max-width: 768px) {
      padding: 10px 0px 0px 30px;
    }
    .header_logo {
      @media (max-width: 768px) {
        padding: 0px;
        img {
          width: 200px;
        }
      }
    }
    &_social_left {
      display: flex;
      gap: 20px;
      font-size: 25px;
      color: #828282;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &_social_right {
      display: flex;
      gap: 25px;
      font-size: 25px;
      color: #828282;
      align-items: center;
      @media (max-width: 768px) {
        padding-right: 20px;
      }
      button {
        color: white;
        background-color: black;
        transition: background-color 0.3s ease;
        outline: none;
        &:hover {
          border: 1px solid black !important;
          color: black !important;
          background-color: white !important;
          cursor: pointer;
        }
      }
      .search {
        display: flex;
        align-items: center; // xử lí căn trục y
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.15); //0.15 là độ mờ
        border-radius: 15px;
        padding: 7px 15px;
        @media (max-width: 768px) {
          display: none;
        }
        input {
          background-color: transparent; //trong suốt
          border: none;
          outline: none; //mất viền
          color: gray;
          font-size: 20px;
        }
      }
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #cdc6c6;
    box-shadow: 5px 5px 5px gray;
    padding: 10px 100px;
    vertical-align: middle;
    @media (max-width: 768px) {
      padding: 10px 30px;
    }
    ul {
      display: flex;
      list-style: none;
      gap: 60px;

      li {
        color: black;
        font-size: 20px;
        padding: 7px 2px;

        a {
          text-decoration: none;
          color: black;
          transition: background-color 0.3s ease;
          font-weight: 300;
          &:hover {
            font-weight: 500;
            color: #dec55e;
            cursor: pointer; // Thêm hiệu ứng con trỏ chuột khi hover
          }
        }
      }
    }
    @media (max-width: 768px) {
      display: none;

      &.active {
        display: flex;
        flex-direction: column;

        ul {
          flex-direction: column;
          gap: 10px;
          font-size: 10px;
        }
      }
    }
  }
  

  .menu-toggle {
    display: none;

    @media (max-width: 768px) {
      display: block;
      font-size: 20px;
      cursor: pointer;
    }
  }

  // in index.scss
  .custom-modal-style {
    .ant-modal-content {
      height: 600px;
      border: 0.5px solid gray;
      box-shadow: 10px 10px 10px black;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }
}
