.tabs-container {
  padding-top: 30px;
  .ant-tabs-nav {
    margin-bottom: 16px;
  }
  .ant-tabs-tab {
    background: #888282 !important;
    transition: background 0.3s;
    border-radius: 1px !important; // Reduce the border-radius
    margin: 0 !important; // Remove the margin
    &.ant-tabs-tab-active {
      color: #f0f0f0 Im !important;
      background: black !important;
      .ant-tabs-tab-btn {
        color: white !important;
      }
    }

    .ant-tabs-tab-btn {
      color: white;
      font-weight: 700;
      transition: color 0.3s;
    }
  }
  .ant-card-body {
    padding: 0px !important;
  }
  .card {
    border-radius: 4px !important;
    padding: 16px;
    border: 1px solid #f0f0f0;
    margin-bottom: 16px;
    background-color: rgb(222, 217, 217, 0.2);

    box-shadow: 2px 2px 2px 2px rgb(136, 130, 130, 0.2);
    position: relative;
    .card_row {
      padding-top: 10px;
    }
    .logoo {
      position: absolute;
      top: 50px;
      background: red;
    }
    &_row {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px dashed black;
      .infoo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
          font-style: italic;
          text-align: left;
          font-weight: bold;
        }
        p {
          font-style: italic;
          color: #888282;
          font-size: 15px;
        }
      }
      span {
        font-size: 25px;
      }
      h3 {
        font-size: 25px;
        color: #e4bd7b;
      }
    }
  }

  .text-left {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    gap: 70px;
    font-size: 20px;
    color: #888282;
    a {
      color: #888282;

      transition: 0.3s ease;
      &:hover {
        color: #a68909 !important; // Màu vàng khi hover
        cursor: pointer; // Thêm hiệu ứng con trỏ chuột khi hover
      }
    }
  }
  .text-right {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 15px;
    h2 {
      text-align: right;
      padding-right: 30px;
      color: #605c5c;
      font-weight: bold;
    }
    h3 {
      text-align: right;
      padding-right: 30px;
      color: red;
      font-size: 25px;
      font-weight: bold;
    }
    button {
      height: 50px;
      font-size: 20px;
      border-radius: 8px;
      color: white;
      border: none;
      font-weight: bold;
    }
    .status-button {
      background-color: #605c5c;
      color: white;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &.default {
        background-color: #605c5c;
      }

      &.green {
        background-color: green;

        &:hover {
          background-color: #28a745;
        }
      }

      &.red {
        background-color: red;

        &:hover {
          background-color: #dc3545;
        }
      }

      &.yellow {
        background-color: #a68909;

        &:hover {
          background-color: rgb(166, 137, 9, 0.8);
        }
      }
    }
  }
}
