.carousel {
  img {
    width: 100%;
    height: 60vh;
    object-fit: cover; //chống vỡ
    object-position: top; //hướng hình
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent !important;

  height: calc(
    (100% - var(--swiper-space-between) * (var(--swiper-rows) - 1)) /
      var(--swiper-rows)
  ) !important;

  /* Center slide content vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.multi-item {
  width: 100%;
  height: 600px;
  .multi-slide {
    height: 250px !important;
  }
  .product-image {
    background-color: rgba(240, 235, 235, 0.3) !important;
  }

  .ant-card-body {
    display: none;
  }
}
