.contact-form-wrapper {
  margin-top: 30px;
  padding: 0px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;

  .contact-form {
    display: flex;
    flex-direction: column;

    .form-fields-wrapper {
      .form-field {
        margin-bottom: 20px;

        input,
        textarea {
          width: 80%;
          padding: 10px;
          border: 1px solid #15393f;
          border-radius: 5px;
          font-size: 16px;
          color: #333;
          transition: border-color 0.3s ease;
        }

        input:focus,
        textarea:focus {
          outline: none;
        }
      }

      .text-field {
        /* Additional styles for text fields */
      }

      .text-area {
        height: 150px;
        resize: none;
      }
    }
  }
  .elementor-button {
    &.elementor-size-sm {
      width: 80%;
      padding: 10px 20px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      border: 2px solid #15393f;
      transition: background-color 0.3s ease;
      background-color: #15393f;
      color: #fff;
      position: relative; /* Needed for the ::before pseudo-element */
      overflow: hidden; /* Ensures ::before does not overflow */

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        transform: skewX(-25deg);
        transition: left 0.75s ease; /* Ensures smooth transition */
      }

      &:hover::before {
        left: 125%; /* Moves ::before smoothly on hover */
      }

      &:hover {
        background-color: white;
        color: #15393f;
      }
    }
  }

  @keyframes sparkle {
    0% {
      left: -75%;
    }
    50% {
      left: 125%;
    }
    100% {
      left: -75%;
    }
  }
}
.form-field {
  margin-bottom: 20px;

  input,
  select {
    width: 80%; // Độ rộng tương tự cho input và select
    padding: 10px;
    border: 1px solid #15393f;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
  }

  input:focus,
  select:focus {
    outline: none;
  }
}
