.footer-container {
    color: azure;
    background-color: #013A40;
    padding: 20px;
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      .logo {
        color:azure;
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 175px;
        }
      }
      .footer-section {
        flex: 1 1 auto;
        margin: 10px;
        h2 {
          text-decoration: underline;
          text-underline-offset: 10px;
          text-decoration-color: yellow;
          font-size: 1em;
          margin-bottom: 10px;
          text-align: left;
        }
        .social-icons{
          padding-bottom: 10px;
        }
        p,
        .certificates {
          margin: 0;
          text-align: left; /* Align text to the left */
        }
        .certificates img {
          display: block;
          margin-bottom: 10px;
          max-width: 100px; // Adjust the max width as needed
        }
        .hotline{
          display: flex;
          flex-direction: column;
          gap: 10px;
          p{
            font-weight: bold;
          }
          span{
            font-weight: 400;
          }
        }
      }
    }
    .footer-bottom {
      text-align: center;
      margin-top: 20px;
      p {
        margin: 0;
      }
    }
    .icon{
      font-size: 30px;
      .icon-con{
        padding: 0px 5px;
      }
    }
  }
  