.h2 {
  font-weight: bold;
}
.carousel {
  @media (max-width: 768px) {
    display: none;
  }
}
.css-dev-only-do-not-override-j9bb5n {
  .ant-float-btn-primary {
    .ant-float-btn-body {
      background-color: red;
      transition: background-color 0.2s;

      &:hover {
        background-color: red;
      }
    }
  }
}

.home_diamond_nature {
  h2 {
    margin: 0 auto;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
  }
  img {
    object-fit: fill; //chống vỡ
    height: auto;
    vertical-align: top;
    max-width: 100%;
  }
}
.section {
  padding: 30px 0px 0px 0px;
  margin: 30px 0px;
  text-align: center;
  h2 {
    padding-bottom: 30px;
    color: white;
  }
  button {
    color: black;
    background-color: transparent;
    padding: 10px 20px;
    border: 3px solid rgb(5, 4, 4);
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
.image-banner {
  position: relative;
  overflow: hidden;
  @media (max-width: 768px) {
    display: none;
  }
  img {
    width: 100%;
    transition: transform 0.3s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }

  .view-more-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    // background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  .category {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    // background-color: rgba(0, 0, 0, 0.5);
    color: black;
    cursor: pointer;
    width: 320px;
    height: 40px;
    background: white;
  }

  &:hover .view-more-btn {
    // background-color: white;
    display: block;
  }
  &:hover .category {
    // background-color: white;
    display: block;
  }
}

.widget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: center;
  .love-wedding {
    padding-top: 25%;
    .title {
      font-family: "Trebuchet MS", Geneva;
      font-size: 24px;
      font-weight: 900;
    }
    .description {
      font-family: helvetica-neue;
      font-size: 20px;
      font-weight: 100;
      font-style: italic;
    }
    p {
      color: #7a7a7a;
      padding: 10px;
    }
  }
  .custom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    button {
      background: #15393f;
      color: white;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:hover {
        background-color: white;
        color: #15393f;
      }
    }
  }
}
.custom-modal .ant-modal-content {
  background: transparent;
  box-shadow: none;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image {
  width: 100%;
  height: auto;
}

.buy-now-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(128, 128, 128, 0.5);
  width: 200px;
  overflow: hidden;
  color: white;
  transform: 0.4s;
  &:hover {
    background-color: rgb(7, 157, 174) !important;
    color: #fff !important;
  }
}

.buy-now-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-25deg);
}

.buy-now-btn:hover::before {
  animation: sparkle 0.75s infinite;
}

@keyframes sparkle {
  0% {
    left: -75%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
