.vi-sao {
  h2 {
    display: flex;
  }
  .vi-sao1,
  .vi-sao2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .vi-sao1 {
    font-weight: 500;
  }
}
.thi-truong {
  h2 {
    display: flex;
  }
  .thi-truong1,
  .thi-truong2 {
    font-weight: 400;
    margin-top: 20px;
  }
  .thi-truong1 {
    font-weight: 500;
  }
}
.thi-truong3 {
  color: black;
  font-style: italic;
  font-size: 14px;
}
