.tong-order-detail {
  .order-product {
    display: flex;
    .detail-order-product {
      margin-top: 10px;
    }
  }
  .cart_product_frame {
    position: relative;
    margin: 10px 0px;
    padding: 15px;
    border: 1px solid rgb(128, 128, 128, 0.1);
    box-shadow: 1px 1px 1px 1px rgb(128, 128, 128, 0.1);
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);

    .cart_product_imgdm {
      width: 100px;
      height: 100px;
      position: absolute;
      top: -20px;
      left: 0;
    }

    .cart_product_item {
      .detele {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        transform: 0.5s;
        &:hover {
          color: red;
        }
      }
      .cart_detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .infor {
        padding: 20px 30px;

        .infor_detail {
          display: flex;
          flex-direction: column;
          gap: 4px;
          p {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
          }
          span {
            font-style: italic;
            font-weight: 400;
          }
        }
      }
      .price {
        text-align: right;
        font-size: 20px;
        font-weight: 500;
        color: #e4bd7b;
      }
    }
  }
  .step-giao-hang {
    .css-dev-only-do-not-override-zg0ahe.ant-steps.ant-steps-vertical
      > .ant-steps-item
      > .ant-steps-item-container
      > .ant-steps-item-tail {
      position: absolute;
      top: 0;
      inset-inline-start: 15px;
      width: 3px;
      height: 140%;
      padding: 38px 0 6px;
    }
  }
  .thong-tin-nguoi-mua {
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      p {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px; // Khoảng cách giữa p và span
        min-width: 150px; // Đảm bảo các thẻ span cùng hàng dọc
      }

      span {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
  .total-price {
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      p {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px; // Khoảng cách giữa p và span
        min-width: 150px; // Đảm bảo các thẻ span cùng hàng dọc
      }

      span {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}
